body {
    background-color: rgb(176, 176, 243);
}

menu {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

#h001 {
    font-family: "Roboto";
    font-size:30pt;
    font-weight:400;
    font-style:normal;
    color: navy;
    margin-left: 20px;
    text-align: center;
    text-shadow: 0.3em 0.3em rgba(rgb(80, 77, 77) 0.5);

  }

  img {
    width:50%;
    max-width:960px;
    align-items: center;
  }


