body {
    background-color: rgb(176, 176, 243);
}

menu {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

h1 {
    color: navy;
    margin-left: 20px;
  }

  img {
    width:100%;
    max-width:960px;
  }
